<!DOCTYPE html>
<html>
  <head>
    <title>JWT Tutorial</title>
  </head>
  <body>
    <h1>JWT Tutorial</h1>
    <p>This is part of the JWT tutorial from <a href="https://auth0.com/blog/authentication-in-golang/">https://auth0.com/blog/authentication-in-golang/</a>. I have formatted this app to give a simple demonstration for a blog post on JWT. There are a few URLs that you can visit:</p>
    <ol>
      <li><a href="/get_token">Get Token</a> => This page will generate and return a JWT that can be used to access the Products page.</li>
      <li><a href="/products">Products</a> => A random list of products that can only be accessed by including the JWT in a header.</li>
      <li><a href="/static/beyonce.gif">Beyonce!</a> => I wanted to learn how to serve images.</li>
    </ol>
    <p>If you want to see more JWT details, look through some of the commit history of this repo or build your own app!</p>
  </body>
</html>
